@model IEnumerable<nmct.ba.cashlessproject.web.Models.VM.Organisation_RegisterVM>


@{
    ViewBag.Title = "Assigned Registers";
}

<h2>Errorlogs</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Organisation_Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ORInstance.RegisterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORInstance.OrganisationID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.RegFriendlyName)
            </td>
            <td>
                @Html.DisplayFor(model => item.OrgFriendlyName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Errorlog", new { id = item.ORInstance.RegisterID }, null)
            </td>
        </tr>
    }
</table>
