@model IEnumerable<nmct.ba.cashlessproject.model.it.Organisation>

@{
    ViewBag.Title = "Organisations";
}

<h2>Organisations</h2>

<p>
    @Html.ActionLink("Create New", "Create","Organisation")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Organisation", new { id=item.ID }, null) |
            @Html.ActionLink("Details", "Details", "Organisation", new { id = item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Organisation", new { id = item.ID }, null)
        </td>
    </tr>
}

</table>
