@model nmct.ba.cashlessproject.web.Models.VM.Organisation_RegisterVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Organisation_Register</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ORInstance.OrganisationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORInstance.OrganisationID) (@Html.DisplayFor(model => model.OrgFriendlyName))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORInstance.RegisterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORInstance.RegisterID) (@Html.DisplayFor(model => model.RegFriendlyName))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORInstance.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORInstance.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORInstance.UntilDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORInstance.UntilDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
