@model nmct.ba.cashlessproject.model.it.Organisation_Register

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organisation_Register</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganisationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UntilDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UntilDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
