@model IEnumerable<nmct.ba.cashlessproject.model.it.Organisation_Register>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UntilDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UntilDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { orgid = item.OrganisationID, regid = item.RegisterID }) |
            @Html.ActionLink("Details", "Details", new { orgid = item.OrganisationID, regId = item.RegisterID }) |
            @Html.ActionLink("Delete", "Delete", new { orgid = item.OrganisationID, regId = item.RegisterID })
        </td>
    </tr>
}

</table>
